// .link
//     width: 20rem
.program_card
    border: 0.01rem solid black
    width: 20rem
    margin-bottom: 1rem
    .element_image
        width: auto
        height: 10rem

        background-image: attr(bgi)

            // position: relative
        .name
            z-index: 1
        img
            z-index: 2
            width: 100%

            object-fit: cover
                // position: absolute
