// .link
//     width: 20rem
.program_card
    border: 0.01rem solid black
    width: 20rem
    margin-bottom: 1rem
    .element_image
        width: 100%
        height: auto
            // position: relative
        img
            width: 100%
            object-fit: cover
                // position: absolute
